*{
    box-sizing: border-box;
}
@media screen and (min-width:0px) and (max-width:576px) {
    .flex-width90{
        display: flex;
        width: 100%;
        
      }
      header {
         visibility: hidden;
        
         height: 0;
         
    }
      .dj {
        /* display: flex;
        justify-content: center; */
        width: 100%;
        /* height: 25vh; */
        }
        
        .dj #img {
            height: 95%;
            width: 90%;
            background-color: white;
            /* padding-top: 5px; */
        }
     .dj #w91 {
            width: 99%;
            background-color: #000000;
            text-align: center;
            height: 19vh;
            /* border: 5px solid red; */
        }
        .dj #w91 #textc{
            font-size: 45px;
        }
        .djs{
            display: flex;
            /* justify-content: space-evenly; */
            justify-content: space-between;
            height: 10vh;
            align-items: center;
            width: 100% !important;
        }
        .shadow{
            visibility: hidden;
            height: 0;
        }
      .shadow   #w90{
            width: 100%;
        }
        .flex-width90{
            width: 100%;
            margin: 0;
            border: none;
        }
        .djw{
            /* border: 2px solid red; */
           display: block;
            /* flex: none !important; */
             /* width: 100% !important; */
        }
        #showpost #white{
            width: 100% !important;
            /* border: 2px solid black; */
            margin: 0;
            
        }
        #showpost{
            margin-top: 15px;
        }
        body{
            background-color: none !important;
        }
}